[phases.setup]
nixPkgs = ["nodejs_20"]

[phases.install]
cmds = [
  "npm run install:all",
  "cd backend && npx prisma generate"
]

[phases.build]
cmds = [
  "npm run build:frontend"
]

[start]
cmd = "cd backend && npx prisma migrate deploy && cd .. && npm start"

