[phases.setup]
nixPkgs = ["nodejs_20"]

[phases.install]
cmds = [
  "npm run install:all"
]

[phases.build]
cmds = [
  "npm run build"
]

[start]
cmd = "cd backend && npx prisma migrate deploy && cd .. && npm start"

